/* App.css */

.container {
  display: grid;
  grid-template-columns: 1fr 2.5fr; /* Two columns with 1:2 width */
  grid-gap: 0px; /* Gap between columns */
  text-align: center;
  position: relative; /* Make the container position relative */
}

#addNotes {
  max-width: 30vw;
  background-color: #ffffff;
  height: 100vh;
  position: relative; /* Make the container position relative */
  overflow-y: scroll;
}

.group{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.group:hover{
  background-color: lightgray;
  border-radius: 15px;
}

#group-color{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  color: #ffffff;
  font-size: large;
  font-weight: bold;
  margin: 10px 20px;
}

#group-name{
  margin-left: 20px;
}

#addNoteButtonContainer {
  position: fixed; /* Position the container absolutely */
  bottom: 1vw; /* Align to the bottom */
  left: 22%; /* Align to the right */
}

#showNotes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dae5f5;
  height: 100vh;
}

#backgroundImageCSS {
  font-weight: 500;
  width: 32vw;
  padding:100px;
}

#backgroudImage {
  width: 32vw;
}

#text02 {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Align items vertically */
  justify-content: center;
}

#text02 p {
  margin-left: 5px; /* Add a small margin between the icon and text */
}